# Pandas Tutorial

In [1]:
import pandas as pd

roses = pd.read_csv('./rose_harvest.csv')

roses

           name  id      date      day  quantity_kg  sacks
0        Tsanko   1  12-05-25   Monday         98.9      9
1   Ivan Petrov   2  12-05-25   Monday         20.0      2
2          Ceca   3  12-05-25   Monday         11.7      1
3        Zlatko   4  12-05-25   Monday         78.8      6
4        Tsanko   1  13-05-25  Tuesday         46.7      4
..          ...  ..       ...      ...          ...    ...
86         Ceca   3  25-05-25   Sunday         38.2      4
87       Zlatko   4  25-05-25   Sunday        117.6      9
88        Botio   6  25-05-25   Sunday         53.0      4
89        Angel   8  25-05-25   Sunday        133.6     12
90  Ivan Vurben   9  25-05-25   Sunday         46.6      3

[91 rows x 6 columns]